DB_USERNAME=root
DB_PASSWORD=

# -------------------------
# JWT Configuration
# -------------------------

# Secret key used for signing JWT tokens (Valid Base64-encoded string) (replace with a secure value in production)
JWT.SECRET=3LOypoLHxbv9jtnB3IWohgnN9QxQPV2ECKiqud3ypUH

# Expiration time for JWT tokens in milliseconds (e.g., 3600000 ms = 1 hour)
JWT.EXPIRATION=3600000